@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2><i>Üye Girişi</i></h2>
<div>
    <h5>Kullanıcı Adı</h5>
    <input type="text" name="name" placeholder="Kullanıcı Adı" />
    <h5>Mail Adresi</h5>
    <input type="text" name="email" placeholder="Mail" />
    <h5>Şifre</h5>
    <input type="password" name="password" placeholder="Şifre" />
    <br>
    <br>
    <input type="submit" name="name" value="Gönder" />
</div>
