@{
    ViewData["Title"] = "Üye Giriş";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2><i>Üye Girişi</i></h2>
<div>
    <form action="/Home/Login" method="post">
        <h5>Mail Adresi</h5>
        <input type="text" name="email" placeholder="Mail" />
        <h5>Şifre</h5>
        <input type="password" name="password" placeholder="Şifre" />
        <br>
        <br>
        <input type="submit" value="Gönder" />
    </form>
</div>
